*{
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Shared-Color */
.orange-color{
  color: rgb(230, 83, 60);
}

/* Shared Styles */
.display-flex{
  display: flex;
}


/* Header>Nav-bar */

.nav-bar{
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: black;
}
.brand{
  font-size: 2.25rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
  margin-left: 5px;
}
.nav-item{
  list-style: none;
  margin-right: 50px;
}
.nav-link{
  text-decoration: none;
  font-size: 1.13rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.nav-links{
  align-items: center;
  width: 450px;
  height: 44px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
#nav-bar-home{
  position: relative;
  right: 34px;
}
#nav-bar-home-btn{
  font-size: 1.13rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(230, 83, 60);
  border-radius: 40px;
  border: none;
  padding: 8px 18px;
}
/* Main Section */
/* Main Section>Banner */
.banner{
  background-color: rgb(0, 0, 0);;
  gap: 300px;
  justify-content: center;
}
.banner-left-heading{
  font-size: 4.8rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.banner-left-paragraph{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
}
.join-club-now, .Join-now, .calculate{
  font-size: 1.13rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(230, 83, 60);
  border: 1px rgb(230, 83, 60);
  padding: 16px 40px;
  border-radius: 40px;
}
#jcn{
  margin-right: 15px;
}
.calculate{
  margin-top: 20px;
}
.download-app{
  font-size: 1.13rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: black;
  border: 1px solid white;
  padding: 16px 40px;
  border-radius: 40px;
}
.banner-left-btn{
  margin-top: 30px;
}
.card-1{
  text-align: center;
  max-width: 195px;
  max-height: 100px;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: none;
  position: relative;
  margin-top: -450px;
  margin-left: 250px;
}
.banner-right-heading1{
  font-size: 2.5rem;
  font-weight: 900;
}
.banner-right-paragraph1{
  font-size: .9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}
.card-2{
  text-align: center;
  max-width: 195px;
  max-height: 100px;
  padding: 15px 5px;
  color: rgb(255, 255, 255);
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: none;
  margin-top: 200px;
  margin-left: -120px;
}
.banner-right-heading2{
  font-size: 1.5rem;
  font-weight: 900;
}
.banner-right-paragraph2{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}
.card-2-round{
  height: 40PX;
  width: 40PX;
  border-radius: 50%;
  background: rgb(230, 83, 60);
  margin: auto;
}

/*  */
.habit{
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.gym{
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.image-section-title{
  text-align: center;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 10px;
}

.images-1 , .images-2 , .images-3{
  margin-right: 50px;
}
.images img{
  border-radius: 50%; 
}
.image-heading{
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.image-paragraph{
  font-size: .8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.images-1, .images-2, .images-3, .images-4{
  align-items: center;
  text-align: center;
}
.flyer-text{
  margin-top: auto;
  margin-bottom: auto;
}
.images{
  padding-top: 20px;
  justify-content: center;
  background-color: black;
}
.flyer-text-heading{
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}
.flyer-text-paragraph{
  font-size: .8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 25px;
}
.flyer-image{
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.flyer-images{
  max-width: 366px;
  max-height: 312px;
  background-size: cover;
  border-radius: 20px;
}
.flyer{
  max-width: 1100px;
  max-height: 400px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(94, 92, 92, 0.5);
  padding: 30px;
}
.flyer-section{
  background-color: black;
  padding: 50px 0px;
}
/* <!-- BMI Calculator --> */
.bmi-main-heading{
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.bmi-main-paragraph{
  font-size: .9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.bmi-main-text{
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}
.bmi-section{
  background-color: black;
  /* margin-left: auto;
  margin-right: auto; */
}
.bmi-all-item {
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(34, 34, 34);
}
.bmi-left-part{
  color: rgba(255, 255, 255, 0.5);;
  font-size: .9rem;
  font-weight: 400;
  padding-right: 250px;
}
#bmi-heading{
  font-size: 1.75rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  margin-bottom: 20px;
}
.bmi-title-text{
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.bmi-td{
  padding: 10px 20px;
}
.bmi-right-part-items{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.bmi-right-part-heading{
  font-size: 1.7rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}
.bmi-right-part-paragraph{
  font-size: .9rem;
  font-weight: 400;
  color:rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}
.bmi-right-part-box{
  width: 282.5px;
  height: 48px;
  background-color:rgb(44, 43, 43);
  color:  rgba(255, 255, 255, 0.1);
  gap: 10px;
  border-radius: 8px;
}
.bmi-right-part-box1{
  width: 577px;;
  height: 48px;
  background-color:rgb(44, 43, 43);
  color:  rgba(255, 255, 255, 0.1);
  gap: 10px;
  border-radius: 8px;
}
.bmi-right-part-item{
padding-top: 5px;
}
/* <!-- BMI Calculator --> */
/* Meet Our Team Section */
.our-team-heading{
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.our-team-paragraph{
  font-size: .9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.our-team-text{
  text-align: center;
}
.our-team-images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 1060px;
  max-height: 804px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}
.team-image{
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.team-section{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 90px;
}
.trainer-name{
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
.trainer-post{
  font-size: .9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.image-container p{
  position: relative;
  margin-top: -60px;
  margin-left: 20px;
}
.footer-section-text{
  max-width: 1100px;
  max-height: 300px;
  justify-content: space-evenly;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-left{
  margin-top: auto;
  margin-bottom: auto;
}
.footer-left-heading{
  font-size: 4.4rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
  margin-top: 0;
  margin-bottom: 0;
}
.footer-left-paragraph{
  font-size: .9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.footer-center-heading, .footer-right-heading{
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.footer-center-paragraph, .footer-right-paragraph{
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.footer-section{
  background-color: black;
}
#footer-line{
  margin-left: auto;
  margin-right: auto;
} 
.footer-warning-text{
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.footer-warning{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 10px;
}

